<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- SEO -->
    <title>František Bachrony</title>
    <meta name="description" content="I'm Javascript developer">
    <meta name="keywords" content="Frantisek, František, Bachrony, Javascript, developer, js, typescript, ts, vue, vuejs, vue3, vuejs3, vue2, vuejs2, web, webapp, app, cv, životopis">

    <!-- OG -->
    <meta property="og:title" content="František Bachrony">
    <meta property="og:url" content="https://frantisek.bachrony.com/">
    <meta property="og:site_name" content="František Bachrony">
    <meta property="og:description" content="I'm Javascript developer">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://frantisek.bachrony.com/img/preview.jpg">
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Text: 'František Bachron' with a cover photo." />
    <meta property="og:local" content="en_GB">
    <meta property="og:locale:alternate" content="cs_CZ" />

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@frantabachrony" />
    <meta name="twitter:creator" content="@frantabachrony" />
    <meta property="og:url" content="https://frantisek.bachrony.com/" />
    <meta property="og:title" content="František Bachrony" />
    <meta property="og:description" content="I'm Javascript developer" />
    <meta property="og:image" content="https://frantisek.bachrony.com/img/preview.jpg" />

    <!-- LINKS -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  </head>

  <body>
    <noscript>
      <strong>I'm sorry but my cv website doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="app"></div>
  </body>
</html>
