<template>
  <header ref="header" class="header">
    <div class="header__wrapper">
      <!-- HEADER FOR DESKTOP -->
      <nav class="header__nav header__nav--desktop">
        <router-link :to="{ name: 'Cv' }" class="header__nav-box">
          <div class="header__nav-logo">
            <img alt="Euroibra logo" :src="logoSvg" width="34"/>
          </div>

          <span class="header__hidden-link-name">
            Cv
          </span>
        </router-link>

        <ul class="header__nav-items header__nav-box--nav">
          <li
            v-for="({ name, text, isActive }, index) in nav"
            :key="`nav-desktop-${name}-${index}`"
            :class="{ 'header__nav-item--active': isActive }"
            class="header__nav-item"
          >
            <router-link :to="{ name }">{{ text }}</router-link>
          </li>

          <li class="header__language-buttons">
            <button @click="$i18n.locale = 'en'">en</button>
            <button @click="$i18n.locale = 'cs'">cs</button>
          </li>
        </ul>
      </nav>

      <!-- HEADER FOR MOBILE -->
      <nav class="header__nav header__nav--mobile">
        <button @click="toggleMobileNav()" class="header__nav-box header__nav-burger">
          <span/>
          <span/>
          <span/>
          <span class="header__hidden-link-name">
            Menu
          </span>
        </button>

        <router-link
          :to="{ name: 'Cv' }"
          @click="toggleMobileNav(false)"
          class="header__nav-home header__nav-home--mobile header__nav-box"
        >
          <div @click="toggleMobileNav(false)" class="header__nav-logo">
            <img alt="František Bachrony logo" :src="logoSvg" width="30"/>
          </div>

          <span class="header__hidden-link-name">
            Cv
          </span>
        </router-link>
      </nav>

      <!-- NAV FOR MOBILE -->
      <nav ref="mobileNav" class="header__nav-mobile">
        <ul class="header__nav-items header__nav-items--mobile">
          <li
            v-for="({ name, text, isActive }, index) in nav"
            :key="`nav-desktop-${name}-${index}`"
            :class="{ 'header__nav-item--active': isActive }"
            @click="toggleMobileNav(false)"
            class="header__nav-item"
          >
            <router-link
              :to="{ name }"
              @click="toggleMobileNav(false)"
            >
              {{ text }}
            </router-link>
          </li>

          <li class="header__language-buttons">
            <button @click="$i18n.locale = 'en'">en</button>
            <button @click="$i18n.locale = 'cs'">cs</button>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
import { computed, defineComponent, ref } from 'vue';
import { useRoute } from 'vue-router';
import { useI18n } from 'vue-i18n';
import logoSvg from '@/assets/logo.svg';

export default defineComponent({
  setup() {
    const { t } = useI18n();
    const route = useRoute();
    const mobileNav = ref(document.createElement('nav'));
    const header = ref(document.createElement('header'));
    const nav = computed(() => [
      { name: 'About', text: t('header.nav.about'), isActive: route.name === 'About' },
      { name: 'Skills', text: t('header.nav.skills'), isActive: route.name === 'Skills' },
      { name: 'Career', text: t('header.nav.career'), isActive: route.name === 'Career' },
      { name: 'Education', text: t('header.nav.education'), isActive: route.name === 'Education' },
      { name: 'Contact', text: t('header.nav.contact'), isActive: route.name === 'Contact' },
    ]);

    function toggleMobileNav(toggle = true) {
      if (toggle) {
        mobileNav.value.classList.toggle('header__nav-mobile--visible');
        header.value.classList.toggle('header--mobile--visible');
        document.body.classList.toggle('modal-open');
      } else {
        mobileNav.value.classList.remove('header__nav-mobile--visible');
        header.value.classList.remove('header--mobile--visible');
        document.body.classList.remove('modal-open');
      }
    }

    return {
      logoSvg,
      nav,
      toggleMobileNav,
      mobileNav,
      header,
    };
  },
});
</script>

<style lang="scss">
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 0 $header-padding;
  transition: all .5s ease;

  &__language-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--mobile--visible {
    background-color: $color-green-dark;
  }

  &__wrapper {
    margin: 0 0 $section-margin 0;
  }

  &__hidden-link-name {
    position: absolute;
    top: 0;
    line-height: 0;
    font-size: 0;
    color: transparent;
    width: 0 !important;
  }

  &__nav {
    max-width: $app-width;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
    z-index: 1000;

    &--mobile {
      display: none;

      @media screen and (max-width: 740px) {
        display: flex;
      }
    }

    &--desktop {
      @media screen and (max-width: 740px) {
        display: none;
      }
    }
  }

  &__nav-mobile {
    display: block;
    position: fixed;
    top: calc(#{$header-height} - 1px);
    right: 0;
    width: 100%;
    height: calc(100vh - #{$header-height} + 1px);
    background-color: $color-green-dark;
    transform: translateY(-100vh);
    transition: all .5s ease;
    z-index: 100;

    &--visible {
      background-color: $color-green-dark;
      transform: translateY(0);
    }
  }

  &__nav-items {
    display: flex;
    justify-content: flex-end;
    align-content: center;

    &--mobile {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: auto;

      @media screen and (max-width: 740px) {
        display: flex;
        max-width: none;
        margin-top: 30px;
      }

      button {
        border: none;
      }
    }
  }

  &__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    white-space: nowrap;

    @media screen and (max-width: 740px) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    &--logout {
      color: $color-black;
      cursor: pointer;
    }

    &:last-child {
      margin: 0;
    }

    a {
      color: $color-black;
    }

    &--active {
      a {
        color: $color-yellow;
        font-weight: 600;
      }
    }
  }

  &__nav-box {
    position: relative;
    height: $header-height;
    padding: 10px;
    box-sizing: border-box;

    &--nav {
      width: 50%;
    }
  }

  &__nav-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $color-black;

    @media screen and (max-width: 740px) {
      width: 50px;
    }
  }

  &__nav-burger {
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;

    span {
      width: 100%;
      height: 2px;
      background-color: $color-black;
      display: block;
    }
  }
}
</style>
