<template>
  <Intro/>

  <article class="cv__article" ref="aboutComponent">
    <About/>
  </article>

  <article class="cv__article" ref="skillsComponent">
    <Skills/>
  </article>

  <article class="cv__article" ref="careerComponent">
    <Career/>
  </article>

  <article class="cv__article" ref="educationComponent">
    <Education/>
  </article>

  <article class="cv__article" ref="contactComponent">
    <Contact/>
  </article>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  ref,
  watch,
} from 'vue';
// TYPES
import { RouteNamesInterface } from '@/types';
// COMPONENTS
import Intro from '@/components/Intro.vue';
import About from '@/components/About.vue';
import Skills from '@/components/Skills.vue';
import Career from '@/components/Career.vue';
import Education from '@/components/Education.vue';
import Contact from '@/components/Contact.vue';

export default defineComponent({
  components: {
    Intro,
    About,
    Skills,
    Career,
    Education,
    Contact,
  },
  props: {
    view: {
      type: String as PropType<RouteNamesInterface>,
      required: false,
      default: 'Cv',
    },
  },
  setup(props) {
    const aboutComponent = ref<HTMLElement | null>(null);
    const skillsComponent = ref<HTMLElement | null>(null);
    const careerComponent = ref<HTMLElement | null>(null);
    const educationComponent = ref<HTMLElement | null>(null);
    const contactComponent = ref<HTMLElement | null>(null);

    const elementReferencesController = {
      aboutComponent,
      skillsComponent,
      careerComponent,
      educationComponent,
      contactComponent,
    };

    onMounted(() => {
      if (props.view !== 'Cv') {
        console.log(props.view);
        if (props.view === 'About' && aboutComponent.value) aboutComponent.value.scrollIntoView();
        else if (props.view === 'Skills' && skillsComponent.value) skillsComponent.value.scrollIntoView();
        else if (props.view === 'Career' && careerComponent.value) careerComponent.value.scrollIntoView();
        else if (props.view === 'Education' && educationComponent.value) educationComponent.value.scrollIntoView();
        else if (props.view === 'Contact' && contactComponent.value) contactComponent.value.scrollIntoView();
      }
    });

    watch(props, () => {
      if (props.view === 'About' && aboutComponent.value) aboutComponent.value.scrollIntoView();
      else if (props.view === 'Skills' && skillsComponent.value) skillsComponent.value.scrollIntoView();
      else if (props.view === 'Career' && careerComponent.value) careerComponent.value.scrollIntoView();
      else if (props.view === 'Education' && educationComponent.value) educationComponent.value.scrollIntoView();
      else if (props.view === 'Contact' && contactComponent.value) contactComponent.value.scrollIntoView();
    }, { deep: true });

    return {
      ...elementReferencesController,
    };
  },
});
</script>

<style lang="scss" scoped>
.cv {
  &__article {
    min-height: 200px;
  }
}
</style>
