<template>
  <h1>František Bachrony</h1>
  <img
    src="@/assets/frantisek-bachrony.jpg"
    alt="Photo of the František Bachrony"
    width="300"
    height="300"
    class="intro__photo"
  />
</template>

<style lang="scss" scoped>
.intro {
  &__photo {
    border-radius: 50%;
  }
}
</style>
