<template>
  <h2>{{ $t('skills.title') }}</h2>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Skills',
  props: {
    kak: {
      type: String,
      required: false,
      default: '',
    },
  },
});
</script>
