<template>
  <Header/>

  <main class="main">
    <router-view/>
  </main>

  <Footer/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
// COMPONENTS
import Header from '@/components/layout/Header.vue';
import Footer from '@/components/layout/Footer.vue';

export default defineComponent({
  components: {
    Header,
    Footer,
  },
  setup() {
    return {};
  },
});
</script>

<style lang="scss">
.main {
  text-align: center;
  margin-top: $header-height;
  max-width: 1200px;
  margin: 0 auto;
}
</style>
