@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  transition: all .5s ease;
  text-align: center;

  &.modal-open {
    height: 100vh;
    overflow: hidden !important;
    position: fixed;
    left: 0;
    right: 0;
  }

  &.mobile-nav {
    background-color: $color-dark-grey;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
