// WIDTH
$app-width: 800px;
$resource-width: 700px;

// HEIGHT
$header-height: 50px;
$footer-height: 50px;

// MARGIN
$section-margin: 50px;

// PADDING
$header-padding: 20px;

// COLORS
$color-yellow: #fff191;
$color-light-yellow: #fff7c1;
$color-green: #d5e89b;
$color-light-green: #e9f6c3;
$color-light-grey: #b4b4b4;
$color-loader: #e8e8e8;

$color-blue: #385b63;
$color-red: #ff6969;
$color-dark-grey: #555555;
$color-black: #000000;
$color-white: #ffffff;
$color-green-dark: #92a052;
